@import "../../style-config//mixins.scss";

.success-page {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  min-width: 100vw;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .preview {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: left;

    p {
      margin-bottom: 10px;
    }
  }
}
