@import "../../style-config//mixins.scss";

.application-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 30px;
  margin: 40px;
  .application-form {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px;
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
      margin-left: 50px;
    }

    .error {
      color: red;
      margin-bottom: 10px;
    }

    form {
      max-width: 400px;
      margin: 0 auto;

      .form-group {
        margin-bottom: 15px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
        }

        textarea {
          height: 150px;
        }

        input[type="file"] {
          margin-top: 5px;
        }
      }

      button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
        display: inline-block;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
