@import "../../style-config//mixins.scss";

.jobDetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  .job-details {
    text-align: left;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    .company-logo {
      img {
        width: 100px;
        float: right;
      }
    }

    .job-info {
      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
        font-weight: 600;
        font-size: 20px;
        span {
          font-weight: 400;
          font-size: 18px;
        }
      }

      a {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: bold;
      }

      a:hover {
        background-color: #0056b3;
      }
    }
  }
}
